body{
  background- color: darkgrey;
} 
h1{
  font-family: 'Kavoon';font-size: 40px;
  color: ghostwhite;
  text-align: center;
}
h1{
  font-weight:bold;
  color:ghostwhite;
}
.banner{
  	margin:10px;
	position: relative;
  	padding:15px;
 	height:210px;
 	border: 10px solid #ffffff;
    box-shadow: 5px 2px 5px 5px #ddfddd;
	display: flex;
	align-items: center;
	gap: 20px
}

h2{
	text-align:center;
	font-family: 'Kavoon';font-size: 29px;
}
h3{
	text-align:center;
	font-family: 'Kavoon';font-size: 25px;
	color: black;
}
ul{
list-style-type: none;
  margin: 15px;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #555555;
  color: white;
}
nav{
	position: absolute;
	width: 90%;
}
.menu{
	display:flex;
	justify-content: center;
	margin: 0;
	padding: 0px;
	list-style:none;
	gap: 30px;
}
