body{
  background- color: darkgrey;
} 
h1{
  font-family: 'Kavoon';font-size: 40px;
  color: ghostwhite;
  text-align: center;
}
h1{
  font-weight:bold;
  color:ghostwhite;
}
.banner{
  	margin:15px;
  	padding:15px;
 	 height:100px;
 	 border: 10px solid #ffffff;
	 box-shadow: 5px 2px 5px 5px #ddfddd;
}
h2{
	text-align:center;
	font-family: 'Kavoon';font-size: 29px;
}
ul{
list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #555555;
  color: white;
}
