body{
  background-color: darkgrey;
} 
h1{
  font-family: 'Kavoon'; font-size: 40px;
  color: ghostwhite;
  text-align: center;
}

.banner{
  	margin:10px;
	position: relative;
  	padding:15px;
 	height:210px;
 	border: 10px solid #ffffff;
    box-shadow: 5px 2px 5px 5px #ddfddd;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px
}

h2{
	text-align:center;
	font-family: 'Kavoon';font-size: 29px;
}
h3{
	text-align:center;
	font-family: 'Kavoon';font-size: 25px;
	color: black;
}

li a:hover {
  background-color: #555555;
  color: white;
}

.menu{
	display:flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style:none;
	gap: 30px;
}
ul{
   list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:DEB8FA;
  }
li{
  float:left;
}
li a, .dropBtn{
  display:inline-block;
  color: navy;
  text-align:center;
  padding:12px 14px;
}
.nav{
   display: flex; 
  justify-content: center; 
  align-items: center;
}
* { box-sizing: border-box; }

.skilla-container {
  width: 100%;
  background-color: #ddd; 
  margin-bottom: 8px;     
}

.skilla-bar {
  text-align: right;      
  padding: 10px;           
  color: white;
}

.skill-bar.html { width: 90%; background-color: #04AA6D; } /* green */
.skill-bar.css  { width: 80%; background-color: #2196F3; } /* blue */
.skill-bar.javascript   { width: 65%; background-color: #f44336; } /* red */
.skill-bar.python { width: 90%; background-color: #04AA6D; } /* green */
