body{
  background- color: darkgrey;
} 
h1{
  font-family: 'Kavoon';font-size: 40px;
  color: ghostwhite;
  text-align: center;
}
h1{
  font-weight:bold;
  color:ghostwhite;
}
.banner{
  	margin:15px;
  	padding:15px;
 	 height:100px;
 	 border: 10px solid #ffffff;
	 box-shadow: 5px 2px 5px 5px #ddfddd;
}
h2{
	text-align:center;
	font-family: 'Kavoon';font-size: 29px;
}
.menu{
	position: absolute;
	top: 50px;
	rightt: 50px;
	color:#5f9ea0;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 2em;
	text-shadow: 2px 2px #317873;
	font-style: oblique;
	width: 100px;
	overflow: hidden;
}
