body{
  background- color: darkgrey;
} 
h1{
  font-family: 'Kavoon';font-size: 40px;
  color: ghostwhite;
  text-align: center;
}
h1{
  font-weight:bold;
  color:ghostwhite;
}
.banner{
  	margin:15px;
  	padding:15px;
 	 height:100px;
 	 border: 10px solid #ffffff;
	 box-shadow: 5px 2px 5px 5px #ddfddd;
}
h2{
	text-align:center;
	font-family: 'Kavoon';font-size: 29px;
}
